
:root{
    --plus-color1: #ff5555;
    --plus-color2: #ee0000;
}

body{
    position: absolute;
    width: 100%;
    height: 139.5vw;
    background-color: whitesmoke;
    margin: 0;
}

#base_div{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    visibility: hidden;
}
#base_img{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
}

#head1{
    position: absolute;
    top: 0%;
    height: 9%;
    width: 100%;
    background-color: var(--plus-color1);
    background-image: url('../imgs/logo_plus.svg');
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center bottom;
}
#head_title{
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 2vw;
    font-weight: bold;
}
#overview{
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    margin: auto;
    font-size: 1.2vw;
}
#overview a{
    color: white;
}

.h_btn{
    position: absolute;
    top: 9%;
    width: 20%;
    height: 1.7%;
    border: 0;
    color: white;
    font-size: 1.2vw;
    font-weight: bold; 
}
button:active{
    opacity: 0.3;
}
#reverse_btn{
    left: 0%;
    background: var(--plus-color2);
}
#clear_to_btn{
    left: 20%;
    background: var(--plus-color1);
}
#clear_all_btn{
    left: 40%;
    background: var(--plus-color2);
}
#blogger{
    left: 60%;
    background: var(--plus-color1);
}
#donation{
    left: 80%;
    background: var(--plus-color2);
}

span.p-country-name{
    display: none;
}
input, textarea{
    position: absolute;
    background-color: whitesmoke;
    resize: none;
    border:none;
}
.tel{
    width: 10%;
    font-size: 2vw;
}

#to_zip{
    left: 48.9%;
    top: 14.9%;
    width: 38%;
    font-size: 4vw;
}
#to_add{
    left: 40%;
    top: 28%;
    width: 45%;
    font-size: 2vw;
}
#to_name{
    left: 40%;
    top: 39.5%;
    width: 40%;
    font-size: 2vw;
}
#to_tel1{
    left: 45%;
    top: 45.6%;
}
#to_tel2{
    left: 58.5%;
    top: 45.6%;
}
#to_tel3{
    left: 72%;
    top: 45.6%;
}


#from_zip{
    left: 37.4%;
    top: 49.6%;
    width: 16.8%;
    font-size: 1.5vw;
}
#from_add{
    left: 40%;
    top: 54.5%;
    width: 45%;
    font-size: 1.3vw;
}
#from_name{
    left: 40%;
    top: 59.2%;
    width: 45%;
    font-size: 1.5vw;
}
#from_tel1{
    left: 45%;
    top: 63.85%;
}
#from_tel2{
    left: 58.5%;
    top: 63.85%;
}
#from_tel3{
    left: 72%;
    top: 63.85%;
}
#desc{
    left: 40%;
    top: 71.5%;
    width: 45%;
    font-size: 1.3vw;
}


#foot1{
    position: fixed;
    bottom: 0%;
    height: 7%;
    width: 100%;
    background-color: white;
}
.f_btn{
    position: absolute;
    top: 0%;
    width: calc(100% / 3);
    height: 100%;
    border: 0;
    color: white;
    font-weight: bold;
}
#save_btn{
    left: 0%;
    background: var(--plus-color1);
    font-size: 1.8vw;
}
#make_btn{
    left: calc(100% / 3);
    background: var(--plus-color2);
    font-size: 2.2vw;
}
#load_btn{
    right: 0%;
    background: var(--plus-color1);
    font-size: 1.8vw;
}
#load_file{
    display: none;
}

#mask{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    /*background: gray;*/
    /*子要素は不透明に*/
    background: rgba(150, 150, 150, 0.9);
    border: medium solid rgba(150, 150, 150, 0.9);
    visibility: hidden;
}
#frame1{
    position: absolute;
    top: 10%;
    width: 61.8%;
    height: 61.8%;
    left: 0;
    right: 0;
    margin: auto;
}

#mask button{
    position: absolute;
    top: 73%;
    width: 8%;
    height: 1.7%;
    margin: auto;
    background: #ff5555;
    text-align:center;
    color: #FFFFFF;
    font-size: 1.2vw;
    font-weight: bold;
    border-radius: 0.5vw;
    border: 0;
}

#print_btn{
    right: 37.1%;
}
#dl_btn{
    right: 28.1%;
}
#close_btn{
    right: 19.1%;
}


